MONGO_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/AuraSkill?retryWrites=true&w=majority&appName=AuraSkill
MONGO_URI_LOCAL=mongodb://localhost:27017/AuraSkill
DB_FALLBACK_TO_LOCAL=true
NODE_ENV=development
PORT=3000
JWT_SECRET=change_this_secret
